<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554091953455-hjld1mceno9fq16pshq6urfb9v029d32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554091953455-hjld1mceno9fq16pshq6urfb9v029d32</string>
	<key>API_KEY</key>
	<string>AIzaSyBksNASQUByklUXZwyC_Zx4IjpI7xmoJ4g</string>
	<key>GCM_SENDER_ID</key>
	<string>554091953455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.teamnet.news</string>
	<key>PROJECT_ID</key>
	<string>news-868b9</string>
	<key>STORAGE_BUCKET</key>
	<string>news-868b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554091953455:ios:aa36af748910aa4c</string>
	<key>DATABASE_URL</key>
	<string>https://news-868b9.firebaseio.com</string>
</dict>
</plist>